* {
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

a {
  font-size: 20px;
  cursor: pointer;
}

.background-purple {
  background-color: #562b81;
  color: white;
}

.purple {
  color: #562b81;
}

.journal-header {
  font-weight: normal;
}

.entry-image {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.label-div {
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.input-div {
  padding-bottom: 1.5rem;
}

h1,
h2 {
  padding-left: 1rem;
}

.entry-input,
.entry-textarea {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #b6b6b6;
}

.text-align-right {
  text-align: right;
}

.right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.button {
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  font-weight: normal;
  cursor: pointer;
}

.margin-btm {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  align-self: center;
  padding-left: 1.5rem;
}
